.trang-7-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkolivegreen);
  width: 1440px;
  height: 256px;
}
.trang-7-item {
  position: absolute;
  top: 170.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.ng-h-removebg-preview-1-icon,
.search-icon {
  position: absolute;
  object-fit: cover;
}
.search-icon {
  top: 56px;
  left: 135px;
  width: 40px;
  height: 40px;
}
.ng-h-removebg-preview-1-icon {
  top: 24px;
  left: 640px;
  width: 160px;
  height: 126px;
}
.vector-icon2 {
  position: absolute;
  top: 56px;
  left: 1095px;
  width: 40px;
  height: 38.4px;
}
.div,
.gi-ngay {
  position: absolute;
  left: 1148px;
  color: var(--color-white);
}
.div {
  top: 77px;
  font-size: var(--font-size-mid);
  font-weight: 800;
}
.gi-ngay {
  top: 56px;
  font-size: var(--font-size-sm);
}
.vector-icon3 {
  position: absolute;
  top: 55.68px;
  left: 1278px;
  width: 40px;
  height: 38.4px;
}
.trang-7-inner,
.vector-icon4 {
  position: absolute;
  top: 56px;
  left: 1310px;
  width: 16px;
  height: 16px;
}
.vector-icon4 {
  top: 70.08px;
  left: 1336px;
  width: 8px;
  height: 7.68px;
}
.gii-thiu {
  top: 214px;
  left: 450px;
}
.gii-thiu,
.kin-thc-ng,
.lin-h,
.mua-ng-h {
  position: absolute;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.mua-ng-h {
  top: 214px;
  left: 548px;
}
.kin-thc-ng,
.lin-h {
  top: 210px;
  left: 805px;
}
.lin-h {
  left: 965px;
}
.line-div {
  left: 449.5px;
  width: 56px;
}
.line-div,
.trang-7-child1,
.trang-7-child2,
.trang-7-child3 {
  position: absolute;
  top: 227.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 1px;
}
.trang-7-child1 {
  left: 547.5px;
  width: 75px;
}
.trang-7-child2 {
  left: 804.5px;
  width: 107px;
}
.trang-7-child3 {
  left: 964.5px;
  width: 39px;
}
.vector-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}
.mnh-dng-luxury {
  position: absolute;
  top: 13px;
  left: 69px;
  font-weight: 300;
}
.vector-icon6 {
  position: absolute;
  top: 16px;
  left: 212px;
  width: 5px;
  height: 10px;
}
.vector-icon7 {
  top: 16px;
}
.vector-icon7,
.vector-icon8 {
  position: absolute;
  width: 5px;
  height: 10px;
}
.vector-icon7 {
  left: 47px;
}
.vector-icon8 {
  top: 17px;
  left: 309px;
}
.group-child1,
.group-child2 {
  position: absolute;
  top: 29.5px;
  left: 342.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 465px;
  height: 1px;
}
.group-child2 {
  top: 28.5px;
  left: 233.5px;
  width: 59px;
}
.ng-h {
  position: absolute;
  left: 234px;
}
.ng-h,
.ng-h-rolex {
  top: 14px;
  font-weight: 300;
}
.ng-h-rolex,
.ng-h-rolex1 {
  position: absolute;
}
.ng-h-rolex {
  left: 343px;
}
.ng-h-rolex1 {
  top: 70px;
  left: 0;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-darkolivegreen);
}
.vector-parent {
  position: absolute;
  top: 308px;
  left: 135px;
  width: 808px;
  height: 94px;
  font-size: var(--font-size-xs);
}
.trang-7-child4 {
  position: absolute;
  top: 424px;
  left: 135px;
  background-color: var(--color-gainsboro);
  width: 459px;
  height: 511px;
}
.rj50661143-rolex-nam-demi-2-2-icon {
  position: absolute;
  top: 424px;
  right: 846px;
  width: 459px;
  height: 511px;
  object-fit: cover;
}
.group-child3,
.group-child4 {
  top: 0;
}
.group-child3,
.group-child4,
.group-child5 {
  position: absolute;
  right: 0;
  width: 746px;
}
.group-child3 {
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 784px;
}
.group-child4 {
  background-color: var(--color-darkolivegreen);
  height: 59px;
}
.group-child5 {
  height: 59px;
  top: 59px;
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.group-child6 {
  top: 118px;
  background-color: var(--color-white);
}
.group-child6,
.group-child7,
.group-child8 {
  position: absolute;
  right: 0;
  width: 746px;
  height: 59px;
}
.group-child7 {
  top: 177px;
  background-color: var(--color-gainsboro);
}
.group-child8 {
  top: 236px;
  background-color: var(--color-white);
}
.group-child10,
.group-child11,
.group-child12,
.group-child9 {
  position: absolute;
  right: 0;
  width: 746px;
  height: 59px;
}
.group-child9 {
  top: 295px;
  background-color: var(--color-gainsboro);
}
.group-child10 {
  top: 354px;
}
.group-child10,
.group-child11,
.group-child12 {
  background-color: var(--color-white);
}
.group-child11 {
  top: 472px;
}
.group-child12 {
  top: 590px;
}
.group-child13 {
  position: absolute;
  top: 413px;
  right: 0;
  width: 746px;
  height: 59px;
}
.group-child13,
.group-child14,
.group-child15 {
  background-color: var(--color-gainsboro);
}
.group-child14,
.group-child15,
.group-child16 {
  position: absolute;
  right: 0;
  width: 746px;
  height: 59px;
}
.group-child14 {
  top: 531px;
}
.group-child15 {
  top: 649px;
}
.group-child16 {
  top: 725px;
  background-color: var(--color-darkolivegreen);
}
.mua-hng,
.thng-tin-chi {
  position: absolute;
  color: var(--color-white);
}
.mua-hng {
  top: 735px;
  right: 275px;
  font-size: var(--font-size-13xl);
}
.thng-tin-chi {
  top: 21px;
  right: 584px;
  font-weight: 600;
}
.cht-liu-v,
.gi,
.ph-kin {
  position: absolute;
  font-weight: 600;
}
.thng-hiu {
  top: 80px;
  right: 642px;
}
.thng-hiu,
.tnh-trng {
  position: absolute;
  font-weight: 600;
}
.gi {
  top: 670px;
  right: 711px;
}
.tnh-trng {
  top: 139px;
  right: 660px;
}
.ph-kin {
  top: 198px;
  right: 673px;
}
.cht-liu-v {
  top: 257px;
  right: 649px;
}
.chc-nng {
  position: absolute;
  font-weight: 600;
}
.kch-thc {
  top: 316px;
  right: 655px;
}
.kch-thc,
.kiu-ng-h,
.loi-my {
  position: absolute;
  font-weight: 600;
}
.kiu-ng-h {
  top: 375px;
  right: 639px;
}
.loi-my {
  top: 434px;
  right: 671px;
}
.chc-nng {
  top: 493px;
  right: 655px;
}
.mt-s {
  top: 552px;
  right: 686px;
  font-weight: 600;
}
.dy-eo,
.mt-s,
.rolex {
  position: absolute;
}
.dy-eo {
  top: 611px;
  right: 676px;
  font-weight: 600;
}
.rolex {
  top: 77px;
  right: 361px;
  font-size: var(--font-size-xl);
}
.mi-100 {
  top: 136px;
  right: 322px;
}
.mi-100,
.mm,
.ng-h-c,
.vng-trng-nguyn,
.vng-trng-nguyn1 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.ng-h-c {
  top: 195px;
  right: 268px;
}
.vng-trng-nguyn {
  top: 254px;
  right: 151px;
}
.vng-trng-nguyn1 {
  top: 608px;
  right: 150px;
}
.mm {
  top: 313px;
  right: 352px;
}
.hin-th-thi,
.mt-s-hng,
.my-rolex-automatic {
  position: absolute;
  font-size: var(--font-size-xl);
}
.nam {
  top: 372px;
  right: 369px;
}
.nam,
.vn {
  position: absolute;
  font-size: var(--font-size-xl);
}
.my-rolex-automatic {
  top: 431px;
  right: 208px;
}
.hin-th-thi {
  top: 490px;
  right: 65px;
}
.mt-s-hng {
  top: 549px;
  right: 158px;
}
.vn {
  top: 667px;
  right: 229px;
  font-weight: 600;
}
.rectangle-container {
  position: absolute;
  top: 433px;
  right: 70px;
  width: 746px;
  height: 784px;
  font-size: var(--font-size-mini);
}
.group-child17 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkolivegreen);
  width: 459px;
  height: 58px;
}
.iphone-se-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 22.35px;
  height: 25px;
  object-fit: cover;
}
.lin-h1 {
  top: 4px;
  left: 22.35px;
  display: inline-block;
  width: 63.7px;
}
.group-div,
.lin-h1 {
  position: absolute;
}
.iphone-se-parent {
  position: absolute;
  top: 18px;
  left: 179px;
  width: 86.05px;
  height: 25px;
}
.group-div {
  top: 964px;
  left: 135px;
  width: 459px;
  height: 58px;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.chi-nhnh-si,
.group-child18 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child18 {
  top: 25.5px;
  left: 3.5px;
  border-top: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  width: 134px;
  height: 1px;
}
.a-ch1 {
  color: var(--color-black);
}
.span {
  color: var(--color-white);
}
.a-ch {
  font-family: var(--font-inter);
}
.in-thoi-094-97-55555-mr {
  margin: 0;
}
.a-ch-306-container {
  position: absolute;
  top: 44px;
  left: 0;
  font-size: var(--font-size-base);
}
.chi-nhnh-si-gn-parent {
  position: absolute;
  top: 1051px;
  left: 135px;
  width: 441px;
  height: 82px;
}
.v-sao-chn {
  position: absolute;
  top: 0;
  left: 11px;
}
.ch-bn-ng {
  margin-bottom: 0;
}
.ch-bn-ng-h-chnh-hng-b {
  margin: 0;
  padding-left: var(--padding-xl);
}
.ch-bn-ng-container {
  position: absolute;
  top: 51px;
  left: 0;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.v-sao-chn-mnh-dng-luxury-parent {
  position: absolute;
  top: 1188px;
  left: 126px;
  width: 776px;
  height: 141px;
}
.hiu-ng-4-child,
.trang-ch {
  position: absolute;
}
.trang-ch {
  top: 0;
  left: 0;
}
.hiu-ng-4-child {
  height: 7.14%;
  width: 100%;
  top: 96.43%;
  right: 0.82%;
  bottom: -3.57%;
  left: -0.82%;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
}
.hiu-ng-4 {
  position: absolute;
  top: 213px;
  left: 339px;
  width: 61px;
  height: 14px;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.vector-icon9 {
  position: absolute;
  height: 48%;
  width: 7.34%;
  top: 12.5%;
  right: 0;
  bottom: 39.5%;
  left: 92.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hiu-ng-5-child {
  position: absolute;
  height: 6.25%;
  width: 90.83%;
  top: 96.88%;
  right: 9.63%;
  bottom: -3.12%;
  left: -0.46%;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
}
.hiu-ng-5 {
  position: absolute;
  top: 214px;
  left: 659px;
  width: 109px;
  height: 16px;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.trang-7-child5 {
  position: absolute;
  top: 781px;
  left: 0;
  border-radius: var(--br-mini) var(--br-mini) 0 0;
  background-color: var(--color-white);
  border: 3px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 1440px;
  height: 1099px;
}
.mu-sc,
.rectangle-icon {
  position: absolute;
  left: 30px;
}
.mu-sc {
  top: 1117px;
  font-size: var(--font-size-13xl);
}
.rectangle-icon {
  top: 795px;
  width: 285px;
  height: 285px;
  object-fit: cover;
}
.trang-7-child6 {
  top: 1102.5px;
  left: -0.5px;
}
.trang-7-child6,
.trang-7-child7,
.trang-7-child8 {
  position: absolute;
  background-color: var(--color-gainsboro);
  border-top: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.trang-7-child7 {
  top: 1252.5px;
  left: 0.5px;
}
.trang-7-child8 {
  top: 1751.5px;
  left: -0.5px;
}
.vn1 {
  position: absolute;
  top: 944px;
  left: 331px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 294px;
  height: 39px;
}
.group-child19 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 254px;
  height: 55px;
}
.mu-vng-gold {
  position: absolute;
  top: 13px;
  left: 66px;
}
.dong-ho-rolex-nu-gia-re-nhat-1-icon {
  position: absolute;
  top: 5px;
  left: 6px;
  width: 46px;
  height: 45px;
  object-fit: cover;
}
.rectangle-parent1 {
  position: absolute;
  top: 1179px;
  left: 30px;
  width: 254px;
  height: 55px;
}
.s-lng,
.trang-7-child9 {
  position: absolute;
  top: 1045px;
  left: 331px;
}
.trang-7-child9 {
  top: 1041px;
  left: 482px;
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-600);
  box-sizing: border-box;
  width: 143px;
  height: 39px;
}
.div1 {
  position: absolute;
  top: 1047px;
  left: 547px;
  color: var(--color-orangered);
}
.trang-7-child10,
.trang-7-child11 {
  position: absolute;
  top: 1040.5px;
  left: 518.5px;
  border-right: 1px solid var(--color-dimgray-500);
  box-sizing: border-box;
  width: 1px;
  height: 40px;
}
.trang-7-child11 {
  left: 586.5px;
  border-right: 1px solid var(--color-darkslategray);
}
.plus-math-icon,
.subtract-icon {
  position: absolute;
  top: 1046px;
  left: 590px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.subtract-icon {
  left: 485px;
}
.mu-sc-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gainsboro);
}
.mu-bc {
  position: absolute;
  top: 23.64%;
  left: 46.63%;
}
.rj50661143-rolex-nam-demi-2-3-icon {
  position: absolute;
  height: 78.18%;
  width: 23.56%;
  top: 10.91%;
  right: 71.63%;
  bottom: 10.91%;
  left: 4.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mu-sc1 {
  top: 1179px;
  left: 331px;
  width: 208px;
  height: 55px;
}
.b1,
.mu-sc1,
.thanh-ton {
  position: absolute;
}
.b1 {
  top: 58px;
  left: 1314px;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.thanh-ton {
  top: 1275px;
  left: 30px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
}
.trang-7-child12 {
  position: absolute;
  top: 1650px;
  left: 29px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 591px;
  height: 82px;
}
.daf4674593f09e1d964beda9cf-1-icon {
  position: absolute;
  top: 1651px;
  left: 29px;
  width: 97px;
  height: 80px;
  object-fit: cover;
}
.thang-ton-khi {
  position: absolute;
  top: 1675px;
  left: 190px;
  font-weight: 600;
}
.momo-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.ti-xung-1 {
  height: 97.56%;
  width: 18.1%;
  top: 1.22%;
  right: 81.9%;
  bottom: 1.22%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.momo,
.ti-xung-1,
.v-momo {
  position: absolute;
}
.v-momo {
  top: 31.71%;
  left: 43.82%;
  font-weight: 600;
}
.momo {
  top: 1322px;
  left: 29px;
  width: 591px;
  height: 82px;
}
.vnpay-logo-inkythuatso-01-13-1-icon {
  position: absolute;
  height: 97.56%;
  width: 18.1%;
  top: 1.22%;
  right: 81.73%;
  bottom: 1.22%;
  left: 0.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.v-vinapay {
  position: absolute;
  top: 32.93%;
  left: 41.29%;
  font-weight: 600;
}
.vnpay {
  position: absolute;
  top: 1426px;
  left: 30px;
  width: 591px;
  height: 82px;
}
.bank-building-icon-on-a-white- {
  position: absolute;
  height: 97.56%;
  width: 18.61%;
  top: 1.22%;
  right: 81.39%;
  bottom: 1.22%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.thanh-ton-qua {
  position: absolute;
  top: 35.37%;
  left: 26.57%;
  font-weight: 600;
}
.bank {
  position: absolute;
  top: 1530px;
  left: 29px;
  width: 591px;
  height: 82px;
}
.instance-child {
  background-color: var(--color-darkolivegreen);
}
.component-1-inner,
.instance-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.mua-hng1 {
  position: absolute;
  top: 16.67%;
  left: 43.1%;
  font-weight: 600;
}
.component-1 {
  position: absolute;
  top: 1784px;
  left: 36px;
  width: 1355px;
  height: 66px;
  cursor: pointer;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
}
.trang-7 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1880px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
