.ng-h-in-container6 {
  position: absolute;
  top: 2231px;
  left: 153px;
  white-space: pre-wrap;
}
.group-child116,
.trang-1-child,
.trang-1-item {
  position: absolute;
  width: 262px;
}
.trang-1-child,
.trang-1-item {
  top: 846px;
  left: 735px;
  background-color: var(--color-gainsboro);
  height: 354px;
}
.trang-1-item {
  background-color: var(--color-white);
  height: 252px;
}
.group-child116 {
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  height: 354px;
}
.dong-ho-rolex-18238-day-date-o-icon,
.group-child117 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 252px;
}
.group-child117 {
  background-color: var(--color-gainsboro);
}
.dong-ho-rolex-18238-day-date-o-icon {
  object-fit: cover;
}
.group-child119,
.rectangle-parent31 {
  position: absolute;
  width: 262px;
}
.rectangle-parent31 {
  top: 846px;
  left: 135px;
  height: 354px;
}
.group-child119 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  height: 252px;
}
.dong-ho-rolex-day-date-118238-icon,
.rectangle-parent32 {
  position: absolute;
  top: 846px;
  width: 262px;
}
.rectangle-parent32 {
  left: 435px;
  height: 354px;
}
.dong-ho-rolex-day-date-118238-icon {
  left: 735px;
  height: 252px;
  object-fit: cover;
}
.rolex-sky-dweller-container2 {
  position: absolute;
  top: 274px;
  left: 7px;
  white-space: pre-wrap;
}
.rectangle-parent33 {
  left: 135px;
}
.rectangle-parent33,
.rectangle-parent34,
.rectangle-parent35 {
  position: absolute;
  top: 1218px;
  width: 262px;
  height: 354px;
}
.rectangle-parent34 {
  left: 435px;
}
.rectangle-parent35 {
  left: 735px;
}
.rectangle-parent36 {
  top: 1218px;
  left: 1035px;
}
.rectangle-parent36,
.rectangle-parent37,
.rectangle-parent38 {
  position: absolute;
  width: 262px;
  height: 354px;
}
.rectangle-parent37 {
  top: 1590px;
  left: 135px;
}
.rectangle-parent38 {
  top: 1590px;
  left: 435px;
}
.rectangle-parent39 {
  position: absolute;
  top: 1590px;
  left: 735px;
  width: 262px;
  height: 354px;
}
.rectangle-parent40 {
  top: 1590px;
}
.rectangle-parent40,
.rectangle-parent41 {
  position: absolute;
  width: 262px;
  height: 354px;
}
.rectangle-parent40 {
  left: 1035px;
}
.rectangle-parent41 {
  top: 1962px;
  left: 135px;
}
.rectangle-parent42 {
  left: 435px;
}
.rectangle-parent42,
.rectangle-parent43,
.trang-1-inner {
  position: absolute;
  top: 1962px;
  width: 262px;
  height: 354px;
}
.rectangle-parent43 {
  left: 735px;
}
.trang-1-inner {
  left: 1035px;
  background-color: var(--color-gainsboro);
}
.e8987ba837dc1318cacc65dc4d3c5b-icon2,
.trang-1-child1 {
  position: absolute;
  top: 1962px;
  left: 1035px;
  width: 262px;
  height: 252px;
}
.trang-1-child1 {
  background-color: var(--color-white);
}
.e8987ba837dc1318cacc65dc4d3c5b-icon2 {
  object-fit: cover;
}
.group-child142 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkolivegreen);
  width: 366px;
  height: 66px;
}
.xem-tt-c {
  position: absolute;
  top: 19px;
  left: 42px;
}
.rectangle-parent44 {
  position: absolute;
  top: 2392px;
  left: 537px;
  width: 366px;
  height: 66px;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.rolex-datejust-41mm {
  position: absolute;
  top: 1111px;
  left: 135px;
  display: inline-block;
  width: 279px;
  height: 72px;
}
.vn30,
.vn31,
.vn32 {
  position: absolute;
  top: 1160px;
  left: 207px;
}
.vn31,
.vn32 {
  top: 1163px;
  left: 507px;
}
.vn32 {
  left: 817px;
}
.vn33 {
  left: 207px;
}
.vn33,
.vn34,
.vn35,
.vn36 {
  position: absolute;
  top: 1539px;
}
.vn34 {
  left: 511px;
}
.vn35 {
  left: 811px;
}
.vn36 {
  left: 1111px;
}
.vn37 {
  left: 1115px;
}
.vn37,
.vn38,
.vn39 {
  position: absolute;
  top: 1915px;
}
.vn38 {
  left: 815px;
}
.vn39 {
  left: 515px;
}
.vn40 {
  position: absolute;
  top: 1915px;
}
.vn40,
.vn41 {
  left: 215px;
}
.vn41,
.vn42,
.vn43,
.vn44 {
  position: absolute;
}
.vn41,
.vn42 {
  top: 2280px;
}
.vn42 {
  left: 515px;
}
.vn43 {
  top: 2277px;
  left: 821px;
}
.vn44 {
  top: 2280px;
  left: 1115px;
}
.rolex-datejust-31mm {
  margin: 0;
}
.rolex-datejust-31mm-container {
  top: 1108px;
  left: 444px;
}
.ng-h-hublot-container6,
.rolex-datejust-31mm-container,
.rolex-lady-datejust-28mm-container {
  position: absolute;
  white-space: pre-wrap;
}
.rolex-lady-datejust-28mm-container {
  top: 1108px;
  left: 746px;
}
.ng-h-hublot-container6 {
  top: 1492px;
  left: 449px;
}
.hublot-classic-fusion-container2,
.ng-h-hublot-container7 {
  position: absolute;
  top: 1489px;
  left: 737px;
  white-space: pre-wrap;
}
.ng-h-hublot-container7 {
  left: 1040px;
}
.apple-watch-series-container6,
.ng-h-hublot-container8 {
  position: absolute;
  top: 1865px;
  white-space: pre-wrap;
}
.ng-h-hublot-container8 {
  left: 1040px;
}
.apple-watch-series-container6 {
  left: 753px;
}
.apple-watch-series-container7,
.apple-watch-series-container8 {
  position: absolute;
  top: 1865px;
  left: 458px;
  white-space: pre-wrap;
}
.apple-watch-series-container8 {
  left: 154px;
}
.ng-h-casio-container2,
.ng-h-in-container7,
.ng-h-in-container9 {
  position: absolute;
  top: 2231px;
  white-space: pre-wrap;
}
.ng-h-in-container7,
.ng-h-in-container9 {
  left: 453px;
}
.ng-h-in-container9 {
  left: 1053px;
}
.ng-h-casio-container2 {
  left: 760px;
}
.trang-1-child2 {
  position: absolute;
  top: 2534px;
  left: 0;
  background-color: #f7f7f7;
  width: 1440px;
  height: 210px;
}
.group-child143 {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
}
.squared-menu-icon {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.ellipse-container {
  position: absolute;
  top: 2552px;
  left: 883px;
  width: 46px;
  height: 46px;
}
.trang-1-child3 {
  top: 2552px;
}
.trang-1-child3,
.trang-1-child4 {
  position: absolute;
  width: 46px;
  height: 46px;
}
.trang-1-child3 {
  left: 681px;
}
.trang-1-child4 {
  top: 2551.64px;
  left: 489px;
}
.online-support-icon {
  position: absolute;
  top: 2565px;
  left: 694px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.m-bo-100 {
  position: absolute;
  top: 2606px;
  left: 423px;
  font-size: var(--font-size-xs);
}
.hnh-nh-v-container,
.mc-tiu-s-container,
.tt-c-ng-container {
  position: absolute;
  top: 2621px;
  font-size: var(--font-size-5xs);
}
.tt-c-ng-container {
  left: 423px;
}
.mc-tiu-s-container {
  left: 636px;
}
.hnh-nh-v-container {
  left: 855px;
}
.dch-v-khch,
.tnh-minh-bch {
  position: absolute;
  top: 2606px;
  left: 636px;
  font-size: var(--font-size-xs);
}
.tnh-minh-bch {
  left: 855px;
}
.span4 {
  color: var(--color-dodgerblue);
}
.group-child144 {
  position: absolute;
}
.nu-cn-thm-container {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child144 {
  top: 11.5px;
  left: 353.5px;
  background-color: var(--color-gainsboro);
  border-top: 1px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 59px;
  height: 1px;
}
.nu-cn-thm-thng-tin-v-sn-parent {
  position: absolute;
  top: 2714.64px;
  left: 520px;
  width: 414px;
  height: 12px;
  font-size: var(--font-size-3xs);
}
.keyboard-arrow-down {
  position: absolute;
  top: 2565.64px;
  left: 502px;
  width: 20px;
  height: 17px;
  overflow: hidden;
}
.trang-1-child5 {
  position: absolute;
  top: 2744px;
  left: 0;
  background-color: var(--color-gray);
  width: 1440px;
  height: 275px;
}
.home-page-icon4 {
  position: absolute;
  top: 19px;
  left: 0;
  width: 10px;
  height: 10px;
  object-fit: cover;
}
.nht-to-phng-container4 {
  position: absolute;
  top: 22px;
  left: 10px;
  font-weight: 600;
}
.globe-icon4,
.gmail-logo-icon4 {
  position: absolute;
  top: 60px;
  left: 0;
  width: 10px;
  height: 10px;
  object-fit: cover;
}
.gmail-logo-icon4 {
  top: 48px;
}
.ca-hng-ng12,
.mr-dng4 {
  position: absolute;
  font-weight: 600;
}
.mr-dng4 {
  top: 38px;
  left: 10px;
}
.ca-hng-ng12 {
  top: 0;
  left: 0;
  font-size: var(--font-size-5xs);
}
.group-child145 {
  position: absolute;
  top: 7.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightgreen);
  box-sizing: border-box;
  width: 83px;
  height: 1px;
}
.email-dodungdodunggmailcom-parent2 {
  position: absolute;
  top: 49px;
  left: 10px;
  width: 82px;
  height: 8px;
  color: var(--color-lightgreen);
}
.httpdonghomanhdungcomvn4 {
  position: absolute;
  top: 62px;
  left: 10px;
  font-weight: 300;
}
.home-page-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 138px;
  height: 70px;
}
.mnh-dng-luxury-container4 {
  position: absolute;
  top: 109px;
  left: 0;
  font-size: var(--font-size-6xs);
  font-weight: 500;
}
.group-parent8,
.vector-icon54 {
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 141px;
}
.vector-icon54 {
  top: 36px;
  left: 3px;
  width: 5px;
  height: 10px;
}
.chnh-sch4,
.group-parent7 {
  position: absolute;
  color: var(--color-white);
}
.group-parent7 {
  top: 2757px;
  left: 405px;
  width: 190px;
  height: 141px;
  font-size: var(--font-size-8xs);
}
.chnh-sch4 {
  top: 0;
  left: 0;
  font-size: var(--font-size-5xs);
  font-weight: 600;
}
.group-child146 {
  position: absolute;
  top: 11.5px;
  left: 0.5px;
  border-top: 1px solid var(--color-lightgreen);
  box-sizing: border-box;
  width: 47px;
  height: 1px;
}
.gii-thiu-parent2,
.group-child147 {
  position: absolute;
  top: 15px;
  left: 0;
  width: 48px;
  height: 12px;
}
.group-child147 {
  top: 11.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightgreen);
  box-sizing: border-box;
  width: 153px;
  height: 1px;
}
.chnh-sch-bo-mt-thng-tin-parent2,
.group-child148 {
  position: absolute;
  top: 32px;
  left: 0;
  width: 152px;
  height: 12px;
}
.group-child148 {
  top: 10.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightgreen);
  box-sizing: border-box;
  width: 139px;
  height: 1px;
}
.chnh-sch-i-v-bo-hnh-parent2,
.group-child149 {
  position: absolute;
  top: 49px;
  left: 0;
  width: 139px;
  height: 11px;
}
.group-child149 {
  top: 10.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightgreen);
  box-sizing: border-box;
  width: 104px;
  height: 1px;
}
.mua-bn-ng-h-c-parent2 {
  position: absolute;
  top: 65px;
  left: 1px;
  width: 104px;
  height: 11px;
}
.chnh-sch-dich-v-parent2 {
  position: absolute;
  top: 2757px;
  left: 636px;
  width: 152px;
  height: 76px;
  font-size: var(--font-size-4xs);
  color: var(--color-lightgreen);
}
.ng-k-bct4 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.logo-removebg-preview-1-icon4 {
  position: absolute;
  top: 19px;
  left: 9px;
  width: 192px;
  height: 58px;
  object-fit: cover;
}
.ca-hng-ng-container4 {
  position: absolute;
  top: 99px;
  left: 9px;
  font-weight: 600;
}
.ng-k-bct-parent2 {
  position: absolute;
  top: 2757px;
  left: 835px;
  width: 218px;
  height: 119px;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
}
.trang-1-child6 {
  position: absolute;
  top: 2927.5px;
  left: 404.5px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 649px;
  height: 1px;
}
.ng-h-removebg-preview-2-icon4 {
  position: absolute;
  top: 2958px;
  left: 400px;
  width: 38px;
  height: 43px;
  object-fit: cover;
}
.ca-hng-ng14 {
  position: absolute;
  top: 2976px;
  left: 805px;
  font-size: var(--font-size-7xs);
  color: var(--color-dimgray-400);
}
.trang-1-child7 {
  position: absolute;
  top: calc(50% + 1154.5px);
  left: 20px;
  width: 81px;
  height: 342px;
}
.trang-1-child8 {
  position: absolute;
  top: 257px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 463px;
}
.tm-mua-ng {
  position: absolute;
  top: 738px;
  left: 365px;
  font-size: var(--font-size-13xl);
  color: var(--color-darkolivegreen);
}
.trang-1-child9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkolivegreen);
  width: 1440px;
  height: 256px;
}
.trang-1-child10 {
  position: absolute;
  top: 170.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.ng-h-removebg-preview-1-icon6,
.search-icon6 {
  position: absolute;
  object-fit: cover;
}
.search-icon6 {
  top: 56px;
  left: 135px;
  width: 40px;
  height: 40px;
}
.ng-h-removebg-preview-1-icon6 {
  top: 24px;
  left: 640px;
  width: 160px;
  height: 126px;
}
.vector-icon55 {
  position: absolute;
  top: 56px;
  left: 1095px;
  width: 40px;
  height: 38.4px;
}
.div10,
.gi-ngay6 {
  position: absolute;
  left: 1148px;
  color: var(--color-white);
}
.div10 {
  top: 77px;
  font-size: var(--font-size-mid);
  font-weight: 800;
}
.gi-ngay6 {
  top: 56px;
}
.vector-icon56 {
  position: absolute;
  top: 55.68px;
  left: 1278px;
  width: 40px;
  height: 38.4px;
}
.trang-1-child11,
.vector-icon57 {
  position: absolute;
  top: 56px;
  left: 1310px;
  width: 16px;
  height: 16px;
}
.vector-icon57 {
  top: 70.08px;
  left: 1336px;
  width: 8px;
  height: 7.68px;
}
.gii-thiu11 {
  left: 445px;
}
.gii-thiu11,
.kin-thc-ng6,
.lin-h10,
.mua-ng-h8 {
  position: absolute;
  top: 210px;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.mua-ng-h8 {
  left: 544px;
}
.kin-thc-ng6 {
  left: 815px;
}
.lin-h10 {
  left: 965px;
}
.trang-1-child12 {
  left: 444.5px;
  width: 56px;
}
.trang-1-child12,
.trang-1-child13,
.trang-1-child14,
.trang-1-child15 {
  position: absolute;
  top: 223.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 1px;
}
.trang-1-child16 {
  position: absolute;
  box-sizing: border-box;
}
.trang-1-child13 {
  left: 543.5px;
  width: 75px;
}
.trang-1-child14 {
  left: 814.5px;
  width: 107px;
}
.trang-1-child15 {
  left: 964.5px;
  width: 39px;
}
.trang-1-child16 {
  top: 169.5px;
  left: 333.5px;
  border-top: 3px solid var(--color-olivedrab);
  width: 73px;
  height: 3px;
}
.b10 {
  position: absolute;
  top: 58px;
  left: 1314px;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.group-child150 {
  left: 0;
}
.group-child150,
.group-child151,
.group-child152 {
  position: absolute;
  top: 0;
  width: 1440px;
  height: 464px;
  object-fit: cover;
}
.group-child151 {
  left: 1440px;
}
.group-child152 {
  left: 2880px;
}
.banner-ng-h,
.rectangle-parent45 {
  position: absolute;
  left: 0;
  height: 464px;
}
.rectangle-parent45 {
  top: 0;
  width: 4320px;
}
.banner-ng-h {
  top: 257px;
  background-color: var(--color-white);
  width: 1440px;
  overflow: hidden;
}
.group-child153 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gainsboro);
}
.group-child154,
.rj50661143-rolex-nam-demi-2-1-icon {
  position: absolute;
  height: 71.19%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 28.81%;
  left: 0;
}
.group-child154 {
  background-color: var(--color-white);
}
.rj50661143-rolex-nam-demi-2-1-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.rectangle-parent46 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.rolex-submariner-date-container {
  position: absolute;
  top: 73.16%;
  left: 2.67%;
  white-space: pre-wrap;
}
.hiu-ng1,
.vn45 {
  position: absolute;
}
.vn45 {
  top: 88.7%;
  left: 25.19%;
}
.hiu-ng1 {
  top: 846px;
  left: 1035px;
  width: 262px;
  height: 354px;
  cursor: pointer;
}
.thu-mua-ng14,
.vector-icon58 {
  position: absolute;
  top: 0;
  left: 0;
}
.vector-icon58 {
  height: 48%;
  width: 7.34%;
  top: 12.5%;
  right: 0;
  bottom: 39.5%;
  left: 92.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hiu-ng-2-child {
  position: absolute;
  height: 6.25%;
  width: 90.83%;
  top: 96.88%;
  right: 9.63%;
  bottom: -3.12%;
  left: -0.46%;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
}
.hiu-ng-2,
.trang-ch6 {
  position: absolute;
  top: 210px;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.hiu-ng-2 {
  left: 662px;
  width: 109px;
  height: 16px;
  cursor: pointer;
}
.trang-ch6 {
  left: 340px;
}
.trang-1-child17 {
  position: absolute;
  top: 223.5px;
  left: 339.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 61px;
  height: 1px;
}
.trang-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3019px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
