.trang-5-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkolivegreen);
  width: 1440px;
  height: 256px;
}
.trang-5-item {
  position: absolute;
  top: 170.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.ng-h-removebg-preview-1-icon2,
.search-icon2 {
  position: absolute;
  object-fit: cover;
}
.search-icon2 {
  top: 56px;
  left: 135px;
  width: 40px;
  height: 40px;
}
.ng-h-removebg-preview-1-icon2 {
  top: 24px;
  left: 640px;
  width: 160px;
  height: 126px;
}
.vector-icon19 {
  position: absolute;
  top: 56px;
  left: 1095px;
  width: 40px;
  height: 38.4px;
}
.div3,
.gi-ngay2 {
  position: absolute;
  left: 1148px;
}
.div3 {
  top: 77px;
  font-size: var(--font-size-mid);
  font-weight: 800;
}
.gi-ngay2 {
  top: 56px;
  font-size: var(--font-size-sm);
}
.vector-icon20 {
  position: absolute;
  top: 55.68px;
  left: 1278px;
  width: 40px;
  height: 38.4px;
}
.trang-5-inner,
.vector-icon21 {
  position: absolute;
  top: 56px;
  left: 1310px;
  width: 16px;
  height: 16px;
}
.vector-icon21 {
  top: 70.08px;
  left: 1336px;
  width: 8px;
  height: 7.68px;
}
.gii-thiu3,
.mua-ng-h2 {
  position: absolute;
  top: 214px;
  left: 450px;
}
.mua-ng-h2 {
  left: 548px;
}
.kin-thc-ng2,
.lin-h4 {
  position: absolute;
  top: 210px;
  left: 805px;
}
.lin-h4 {
  left: 965px;
}
.trang-5-child1 {
  left: 449.5px;
  width: 56px;
}
.trang-5-child1,
.trang-5-child2,
.trang-5-child3,
.trang-5-child4 {
  position: absolute;
  top: 227.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 1px;
}
.trang-5-child2 {
  left: 547.5px;
  width: 75px;
}
.trang-5-child3 {
  left: 804.5px;
  width: 107px;
}
.trang-5-child4 {
  left: 964.5px;
  width: 39px;
}
.vector-icon22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}
.mnh-dng-luxury3 {
  position: absolute;
  top: 13px;
  left: 69px;
  font-weight: 300;
}
.vector-icon23 {
  position: absolute;
  top: 16px;
  left: 212px;
  width: 5px;
  height: 10px;
}
.vector-icon24 {
  top: 16px;
}
.vector-icon24,
.vector-icon25 {
  position: absolute;
  width: 5px;
  height: 10px;
}
.vector-icon24 {
  left: 47px;
}
.vector-icon25 {
  top: 17px;
  left: 309px;
}
.group-child51,
.group-child52 {
  position: absolute;
  top: 29.5px;
  left: 342.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 465px;
  height: 1px;
}
.group-child52 {
  top: 28.5px;
  left: 233.5px;
  width: 59px;
}
.ng-h-rolex4 {
  top: 14px;
  font-weight: 300;
}
.ng-h-rolex4,
.ng-h-rolex5,
.ng-h4 {
  position: absolute;
}
.ng-h4 {
  top: 14px;
  left: 234px;
  font-weight: 300;
}
.ng-h-rolex4 {
  left: 343px;
}
.ng-h-rolex5 {
  top: 70px;
  left: 0;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-darkolivegreen);
}
.vector-container {
  position: absolute;
  top: 308px;
  left: 135px;
  width: 808px;
  height: 94px;
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.trang-5-child5 {
  position: absolute;
  top: 424px;
  left: 135px;
  background-color: var(--color-gainsboro);
  width: 459px;
  height: 511px;
}
.rj50661143-rolex-nam-demi-2-2-icon2 {
  position: absolute;
  top: 424px;
  right: 846px;
  width: 459px;
  height: 511px;
  object-fit: cover;
}
.group-child53 {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 746px;
  height: 784px;
}
.group-child54,
.group-child55 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-darkolivegreen);
  width: 746px;
  height: 59px;
}
.group-child55 {
  top: 59px;
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.group-child56 {
  top: 118px;
  background-color: var(--color-white);
}
.group-child56,
.group-child57,
.group-child58 {
  position: absolute;
  right: 0;
  width: 746px;
  height: 59px;
}
.group-child57 {
  top: 177px;
  background-color: var(--color-gainsboro);
}
.group-child58 {
  top: 236px;
  background-color: var(--color-white);
}
.group-child59 {
  top: 295px;
  background-color: var(--color-gainsboro);
}
.group-child59,
.group-child60,
.group-child61,
.group-child62 {
  position: absolute;
  right: 0;
  width: 746px;
  height: 59px;
}
.group-child60 {
  top: 354px;
}
.group-child60,
.group-child61,
.group-child62 {
  background-color: var(--color-white);
}
.group-child61 {
  top: 472px;
}
.group-child62 {
  top: 590px;
}
.group-child63 {
  position: absolute;
  top: 413px;
  right: 0;
  width: 746px;
  height: 59px;
}
.group-child63,
.group-child64,
.group-child65 {
  background-color: var(--color-gainsboro);
}
.group-child64,
.group-child65,
.group-child66 {
  position: absolute;
  right: 0;
  width: 746px;
  height: 59px;
}
.group-child64 {
  top: 531px;
}
.group-child65 {
  top: 649px;
}
.group-child66 {
  top: 725px;
  background-color: var(--color-darkolivegreen);
}
.mua-hng3,
.thng-tin-chi2 {
  position: absolute;
  color: var(--color-white);
}
.mua-hng3 {
  top: 735px;
  right: 275px;
  font-size: var(--font-size-13xl);
}
.thng-tin-chi2 {
  top: 21px;
  right: 584px;
  font-weight: 600;
}
.gi2 {
  position: absolute;
  font-weight: 600;
}
.thng-hiu2 {
  top: 80px;
  right: 642px;
}
.thng-hiu2,
.tnh-trng2 {
  position: absolute;
  font-weight: 600;
}
.gi2 {
  top: 670px;
  right: 711px;
}
.tnh-trng2 {
  top: 139px;
  right: 660px;
}
.cht-liu-v2,
.kch-thc2,
.kiu-ng-h2,
.ph-kin2 {
  position: absolute;
  font-weight: 600;
}
.ph-kin2 {
  top: 198px;
  right: 673px;
}
.cht-liu-v2 {
  top: 257px;
  right: 649px;
}
.kch-thc2 {
  top: 316px;
  right: 655px;
}
.kiu-ng-h2 {
  top: 375px;
  right: 639px;
}
.chc-nng2,
.dy-eo2 {
  position: absolute;
  font-weight: 600;
}
.loi-my2 {
  top: 434px;
  right: 671px;
}
.loi-my2,
.mt-s2 {
  position: absolute;
  font-weight: 600;
}
.chc-nng2 {
  top: 493px;
  right: 655px;
}
.mt-s2 {
  top: 552px;
  right: 686px;
}
.dy-eo2 {
  top: 611px;
  right: 676px;
}
.mi-1002,
.rolex2 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.rolex2 {
  top: 77px;
  right: 361px;
}
.mi-1002 {
  top: 136px;
  right: 322px;
}
.mm2,
.nam2 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.ng-h-c2 {
  top: 195px;
  right: 268px;
}
.ng-h-c2,
.vng-trng-nguyn4,
.vng-trng-nguyn5 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.vng-trng-nguyn4 {
  top: 254px;
  right: 151px;
}
.vng-trng-nguyn5 {
  top: 608px;
  right: 150px;
}
.mm2 {
  top: 313px;
  right: 352px;
}
.nam2 {
  top: 372px;
  right: 369px;
}
.hin-th-thi2,
.mt-s-hng2 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.my-rolex-automatic2 {
  top: 431px;
  right: 208px;
}
.my-rolex-automatic2,
.vn15 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.hin-th-thi2 {
  top: 490px;
  right: 65px;
}
.mt-s-hng2 {
  top: 549px;
  right: 158px;
}
.vn15 {
  top: 667px;
  right: 229px;
  font-weight: 600;
}
.rectangle-parent14 {
  position: absolute;
  top: 433px;
  right: 70px;
  width: 746px;
  height: 784px;
  font-size: var(--font-size-mini);
  color: var(--color-black);
}
.group-child67 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkolivegreen);
  width: 459px;
  height: 58px;
}
.iphone-se-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 22.35px;
  height: 25px;
  object-fit: cover;
}
.lin-h5 {
  position: absolute;
  top: 4px;
  left: 22.35px;
  display: inline-block;
  width: 63.7px;
}
.iphone-se-container {
  position: absolute;
  top: 18px;
  left: 179px;
  width: 86.05px;
  height: 25px;
}
.rectangle-parent15 {
  position: absolute;
  top: 964px;
  left: 135px;
  width: 459px;
  height: 58px;
  font-size: var(--font-size-mini);
}
.chi-nhnh-si2,
.group-child68 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child68 {
  top: 25.5px;
  left: 3.5px;
  border-top: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  width: 134px;
  height: 1px;
}
.a-ch5 {
  color: var(--color-black);
}
.span2 {
  color: var(--color-white);
}
.a-ch4 {
  font-family: var(--font-inter);
}
.a-ch-306-nht-to-phng-82 {
  margin: 0;
}
.a-ch-306-container2 {
  position: absolute;
  top: 44px;
  left: 0;
  font-size: var(--font-size-base);
}
.chi-nhnh-si-gn-container {
  position: absolute;
  top: 1051px;
  left: 135px;
  width: 441px;
  height: 82px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.v-sao-chn2 {
  position: absolute;
  top: 0;
  left: 11px;
}
.ch-bn-ng2 {
  margin-bottom: 0;
}
.ch-bn-ng-h-chnh-hng-b2 {
  margin: 0;
  padding-left: var(--padding-xl);
}
.ch-bn-ng-container2 {
  position: absolute;
  top: 51px;
  left: 0;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.v-sao-chn-mnh-dng-luxury-container {
  position: absolute;
  top: 1188px;
  left: 126px;
  width: 776px;
  height: 141px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.hiu-ng-4-inner,
.trang-ch2 {
  position: absolute;
}
.trang-ch2 {
  top: 0;
  left: 0;
}
.hiu-ng-4-inner {
  height: 7.14%;
  width: 100%;
  top: 96.43%;
  right: 0.82%;
  bottom: -3.57%;
  left: -0.82%;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
}
.hiu-ng-42,
.vector-icon26 {
  position: absolute;
  top: 213px;
  left: 339px;
  width: 61px;
  height: 14px;
}
.vector-icon26 {
  height: 48%;
  width: 7.34%;
  top: 12.5%;
  right: 0;
  bottom: 39.5%;
  left: 92.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hiu-ng-5-inner {
  position: absolute;
  height: 6.25%;
  width: 90.83%;
  top: 96.88%;
  right: 9.63%;
  bottom: -3.12%;
  left: -0.46%;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
}
.hiu-ng-52,
.trang-5-child6 {
  position: absolute;
  top: 214px;
  left: 659px;
  width: 109px;
  height: 16px;
}
.trang-5-child6 {
  top: 781px;
  left: 0;
  border-radius: var(--br-mini) var(--br-mini) 0 0;
  background-color: var(--color-white);
  border: 3px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 1440px;
  height: 597px;
}
.mu-sc2,
.trang-5-child7 {
  position: absolute;
  left: 30px;
}
.mu-sc2 {
  top: 1117px;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.trang-5-child7 {
  top: 795px;
  width: 285px;
  height: 285px;
  object-fit: cover;
}
.trang-5-child8,
.trang-5-child9 {
  position: absolute;
  top: 1102.5px;
  left: -0.5px;
  background-color: var(--color-gainsboro);
  border-top: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.trang-5-child9 {
  top: 1252.5px;
  left: 0.5px;
}
.vn16 {
  position: absolute;
  top: 68.51%;
  left: 22.99%;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.group-child69 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 254px;
  height: 55px;
}
.mu-vng-gold1 {
  position: absolute;
  top: 13px;
  left: 66px;
}
.dong-ho-rolex-nu-gia-re-nhat-1-icon2 {
  position: absolute;
  top: 5px;
  left: 6px;
  width: 46px;
  height: 45px;
  object-fit: cover;
}
.rectangle-parent16,
.s-lng1 {
  position: absolute;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.rectangle-parent16 {
  top: 1179px;
  left: 30px;
  width: 254px;
  height: 55px;
}
.s-lng1 {
  top: 1045px;
  left: 331px;
}
.trang-5-child10 {
  position: absolute;
  top: 1041px;
  left: 482px;
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-600);
  box-sizing: border-box;
  width: 143px;
  height: 39px;
}
.div4 {
  position: absolute;
  top: 1047px;
  left: 547px;
  font-size: var(--font-size-5xl);
  color: var(--color-orangered);
}
.trang-5-child11,
.trang-5-child12 {
  position: absolute;
  top: 1040.5px;
  left: 518.5px;
  border-right: 1px solid var(--color-dimgray-500);
  box-sizing: border-box;
  width: 1px;
  height: 40px;
}
.trang-5-child12 {
  left: 586.5px;
  border-right: 1px solid var(--color-darkslategray);
}
.plus-math-icon1,
.subtract-icon1 {
  position: absolute;
  top: 1046px;
  left: 590px;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.subtract-icon1 {
  left: 485px;
}
.component-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkolivegreen);
}
.trang-5-inner1 {
  position: absolute;
  top: 1282px;
  left: 68px;
  width: 1321px;
  height: 66px;
  cursor: pointer;
}
.thm-vo-gi {
  position: absolute;
  top: 1293px;
  left: 509px;
  font-size: var(--font-size-17xl);
  font-weight: 600;
}
.mu-sc-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gainsboro);
}
.mu-bc1 {
  position: absolute;
  top: 23.64%;
  left: 46.63%;
}
.rj50661143-rolex-nam-demi-2-3-icon1 {
  position: absolute;
  height: 78.18%;
  width: 23.56%;
  top: 10.91%;
  right: 71.63%;
  bottom: 10.91%;
  left: 4.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.b5,
.mu-sc3 {
  position: absolute;
}
.mu-sc3 {
  top: 1179px;
  left: 331px;
  width: 208px;
  height: 55px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.b5 {
  top: 58px;
  left: 1314px;
}
.trang-5 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1378px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
