.trang-6-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkolivegreen);
  width: 1440px;
  height: 256px;
}
.trang-6-item {
  position: absolute;
  top: 170.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.ng-h-removebg-preview-1-icon1,
.search-icon1 {
  position: absolute;
  object-fit: cover;
}
.search-icon1 {
  top: 56px;
  left: 135px;
  width: 40px;
  height: 40px;
}
.ng-h-removebg-preview-1-icon1 {
  top: 24px;
  left: 640px;
  width: 160px;
  height: 126px;
}
.vector-icon10 {
  position: absolute;
  top: 56px;
  left: 1095px;
  width: 40px;
  height: 38.4px;
}
.div2,
.gi-ngay1 {
  position: absolute;
  left: 1148px;
  color: var(--color-white);
}
.div2 {
  top: 77px;
  font-size: var(--font-size-mid);
  font-weight: 800;
}
.gi-ngay1 {
  top: 56px;
}
.vector-icon11 {
  position: absolute;
  top: 55.68px;
  left: 1278px;
  width: 40px;
  height: 38.4px;
  cursor: pointer;
}
.trang-6-inner,
.vector-icon12 {
  position: absolute;
  top: 56px;
  left: 1310px;
  width: 16px;
  height: 16px;
}
.vector-icon12 {
  top: 70.08px;
  left: 1336px;
  width: 8px;
  height: 7.68px;
}
.gii-thiu1 {
  top: 214px;
  left: 450px;
}
.gii-thiu1,
.kin-thc-ng1,
.lin-h2,
.mua-ng-h1 {
  position: absolute;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.mua-ng-h1 {
  top: 214px;
  left: 548px;
}
.kin-thc-ng1,
.lin-h2 {
  top: 210px;
  left: 805px;
}
.lin-h2 {
  left: 965px;
}
.trang-6-child1 {
  left: 449.5px;
  width: 56px;
}
.trang-6-child1,
.trang-6-child2,
.trang-6-child3,
.trang-6-child4 {
  position: absolute;
  top: 227.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 1px;
}
.trang-6-child2 {
  left: 547.5px;
  width: 75px;
}
.trang-6-child3 {
  left: 804.5px;
  width: 107px;
}
.trang-6-child4 {
  left: 964.5px;
  width: 39px;
}
.vector-icon13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}
.mnh-dng-luxury1 {
  position: absolute;
  top: 13px;
  left: 69px;
  font-weight: 300;
}
.vector-icon14 {
  position: absolute;
  top: 16px;
  left: 212px;
  width: 5px;
  height: 10px;
}
.vector-icon15 {
  top: 16px;
}
.vector-icon15,
.vector-icon16 {
  position: absolute;
  width: 5px;
  height: 10px;
}
.vector-icon15 {
  left: 47px;
}
.vector-icon16 {
  top: 17px;
  left: 309px;
}
.group-child20,
.group-child21 {
  position: absolute;
  top: 29.5px;
  left: 342.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 465px;
  height: 1px;
}
.group-child21 {
  top: 28.5px;
  left: 233.5px;
  width: 59px;
}
.ng-h-rolex2 {
  top: 14px;
  font-weight: 300;
}
.ng-h-rolex2,
.ng-h-rolex3,
.ng-h2 {
  position: absolute;
}
.ng-h2 {
  top: 14px;
  left: 234px;
  font-weight: 300;
}
.ng-h-rolex2 {
  left: 343px;
}
.ng-h-rolex3 {
  top: 70px;
  left: 0;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-darkolivegreen);
}
.vector-group {
  position: absolute;
  top: 308px;
  left: 135px;
  width: 808px;
  height: 94px;
  font-size: var(--font-size-xs);
}
.trang-6-child5 {
  position: absolute;
  top: 424px;
  left: 135px;
  background-color: var(--color-gainsboro);
  width: 459px;
  height: 511px;
}
.rj50661143-rolex-nam-demi-2-2-icon1 {
  position: absolute;
  top: 424px;
  right: 846px;
  width: 459px;
  height: 511px;
  object-fit: cover;
}
.trang-6-child6,
.trang-6-child7 {
  top: 433px;
}
.trang-6-child6,
.trang-6-child7,
.trang-6-child8 {
  position: absolute;
  right: 70px;
  width: 746px;
}
.trang-6-child6 {
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 784px;
}
.trang-6-child7 {
  background-color: var(--color-darkolivegreen);
  height: 59px;
}
.trang-6-child8 {
  height: 59px;
  top: 492px;
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.trang-6-child10,
.trang-6-child11,
.trang-6-child9 {
  position: absolute;
  right: 70px;
  width: 746px;
  height: 59px;
}
.trang-6-child9 {
  top: 551px;
  background-color: var(--color-white);
}
.trang-6-child10 {
  top: 610px;
  background-color: var(--color-gainsboro);
}
.trang-6-child11 {
  top: 669px;
  background-color: var(--color-white);
}
.trang-6-child12 {
  top: 728px;
  background-color: var(--color-gainsboro);
}
.trang-6-child12,
.trang-6-child13,
.trang-6-child14,
.trang-6-child15 {
  position: absolute;
  right: 70px;
  width: 746px;
  height: 59px;
}
.trang-6-child13 {
  top: 787px;
}
.trang-6-child13,
.trang-6-child14,
.trang-6-child15 {
  background-color: var(--color-white);
}
.trang-6-child14 {
  top: 905px;
}
.trang-6-child15 {
  top: 1023px;
}
.component-item {
  position: absolute;
}
.trang-6-child16 {
  top: 846px;
}
.trang-6-child16,
.trang-6-child17,
.trang-6-child18 {
  position: absolute;
  right: 70px;
  background-color: var(--color-gainsboro);
  width: 746px;
  height: 59px;
}
.trang-6-child17 {
  top: 964px;
}
.trang-6-child18 {
  top: 1082px;
}
.component-item {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkolivegreen);
}
.trang-6-inner1 {
  position: absolute;
  top: 1158px;
  left: 624px;
  width: 746px;
  height: 59px;
  cursor: pointer;
}
.mua-hng2 {
  position: absolute;
  top: 1168px;
  right: 345px;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
}
.gi1,
.ph-kin1,
.thng-hiu1,
.thng-tin-chi1,
.tnh-trng1 {
  position: absolute;
  font-size: var(--font-size-mini);
  font-weight: 600;
}
.thng-tin-chi1 {
  top: 454px;
  right: 654px;
  color: var(--color-white);
}
.thng-hiu1 {
  top: 513px;
  right: 712px;
}
.gi1 {
  top: 1103px;
  right: 781px;
}
.tnh-trng1 {
  top: 572px;
  right: 730px;
}
.ph-kin1 {
  top: 631px;
  right: 743px;
}
.chc-nng1 {
  position: absolute;
  font-size: var(--font-size-mini);
  font-weight: 600;
}
.cht-liu-v1 {
  top: 690px;
  right: 719px;
}
.cht-liu-v1,
.dy-eo1,
.kch-thc1,
.kiu-ng-h1,
.loi-my1,
.mt-s1 {
  position: absolute;
  font-size: var(--font-size-mini);
  font-weight: 600;
}
.kch-thc1 {
  top: 749px;
  right: 725px;
}
.kiu-ng-h1 {
  top: 808px;
  right: 709px;
}
.loi-my1 {
  top: 867px;
  right: 741px;
}
.chc-nng1 {
  top: 926px;
  right: 725px;
}
.mt-s1 {
  top: 985px;
  right: 756px;
}
.dy-eo1 {
  top: 1044px;
  right: 746px;
}
.mi-1001,
.rolex1 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.rolex1 {
  top: 510px;
  right: 431px;
}
.mi-1001 {
  top: 569px;
  right: 392px;
}
.mm1,
.nam1 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.ng-h-c1 {
  top: 628px;
  right: 338px;
}
.ng-h-c1,
.vng-trng-nguyn2,
.vng-trng-nguyn3 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.vng-trng-nguyn2 {
  top: 687px;
  right: 221px;
}
.vng-trng-nguyn3 {
  top: 1041px;
  right: 220px;
}
.mm1 {
  top: 746px;
  right: 422px;
}
.nam1 {
  top: 805px;
  right: 439px;
}
.hin-th-thi1,
.mt-s-hng1 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.my-rolex-automatic1 {
  top: 864px;
  right: 278px;
}
.my-rolex-automatic1,
.vn2 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.hin-th-thi1 {
  top: 923px;
  right: 135px;
}
.mt-s-hng1 {
  top: 982px;
  right: 228px;
}
.vn2 {
  top: 1100px;
  right: 299px;
  font-weight: 600;
}
.group-child22 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkolivegreen);
  width: 459px;
  height: 58px;
}
.iphone-se-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 22.35px;
  height: 25px;
  object-fit: cover;
}
.lin-h3 {
  position: absolute;
  top: 4px;
  left: 22.35px;
  display: inline-block;
  width: 63.7px;
}
.iphone-se-group {
  position: absolute;
  top: 18px;
  left: 179px;
  width: 86.05px;
  height: 25px;
}
.rectangle-parent2 {
  position: absolute;
  top: 964px;
  left: 135px;
  width: 459px;
  height: 58px;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.group-child23 {
  position: absolute;
  top: 25.5px;
  left: 3.5px;
  border-top: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  width: 134px;
  height: 1px;
}
.a-ch3 {
  color: var(--color-black);
}
.span1 {
  color: var(--color-white);
}
.a-ch2 {
  font-family: var(--font-inter);
}
.a-ch-306-container1 {
  position: absolute;
  top: 44px;
  left: 0;
  font-size: var(--font-size-base);
}
.chi-nhnh-si-gn-group {
  position: absolute;
  top: 1051px;
  left: 135px;
  width: 441px;
  height: 82px;
  font-size: var(--font-size-5xl);
}
.v-sao-chn1 {
  position: absolute;
  top: 0;
  left: 11px;
}
.ch-bn-ng1 {
  margin-bottom: 0;
}
.ch-bn-ng-h-chnh-hng-b1 {
  margin: 0;
  padding-left: var(--padding-xl);
}
.ch-bn-ng-container1 {
  position: absolute;
  top: 51px;
  left: 0;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.v-sao-chn-mnh-dng-luxury-group {
  position: absolute;
  top: 1188px;
  left: 126px;
  width: 776px;
  height: 141px;
  font-size: var(--font-size-5xl);
}
.group-icon {
  top: 1362px;
  left: calc(50% - 206px);
  width: 401px;
  height: 80px;
}
.chn-ng-h,
.group-icon,
.xem-nhiu-sn {
  position: absolute;
}
.xem-nhiu-sn {
  top: 1457px;
  left: calc(50% - 248px);
  font-size: var(--font-size-17xl);
}
.chn-ng-h {
  top: 1501px;
  left: calc(50% - 180px);
  font-size: var(--font-size-5xl);
}
.trang-6-child19 {
  position: absolute;
  top: 1531.5px;
  left: calc(50% - 83.5px);
  border-top: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  width: 134px;
  height: 1px;
}
.group-child24,
.group-child25 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 262px;
  height: 354px;
}
.group-child25 {
  background-color: var(--color-white);
  height: 252px;
}
.rolex-sky-dweller {
  margin: 0;
}
.rolex-sky-dweller-container {
  position: absolute;
  top: 274px;
  left: 7px;
  white-space: pre-wrap;
}
.rectangle-parent3 {
  position: absolute;
  top: 1547px;
  left: 135px;
  width: 262px;
  height: 354px;
}
.dong-ho-hublot-big-bang-341-px-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 252px;
  object-fit: cover;
}
.rectangle-parent4,
.rectangle-parent5 {
  position: absolute;
  top: 1547px;
  left: 435px;
  width: 262px;
  height: 354px;
}
.rectangle-parent5 {
  left: 735px;
}
.rectangle-parent6 {
  top: 1547px;
  left: 1035px;
}
.rectangle-parent6,
.rectangle-parent7,
.rectangle-parent8 {
  position: absolute;
  width: 262px;
  height: 354px;
}
.rectangle-parent7 {
  top: 1919px;
  left: 135px;
}
.rectangle-parent8 {
  top: 1919px;
  left: 435px;
}
.rectangle-parent10 {
  top: 1919px;
}
.rectangle-parent10,
.rectangle-parent11,
.rectangle-parent9 {
  position: absolute;
  width: 262px;
  height: 354px;
}
.rectangle-parent9 {
  top: 1919px;
  left: 735px;
}
.rectangle-parent10 {
  left: 1035px;
}
.rectangle-parent11 {
  top: 2291px;
  left: 135px;
}
.rectangle-parent12 {
  left: 435px;
}
.rectangle-parent12,
.rectangle-parent13,
.trang-6-child20 {
  position: absolute;
  top: 2291px;
  width: 262px;
  height: 354px;
}
.rectangle-parent13 {
  left: 735px;
}
.trang-6-child20 {
  left: 1035px;
  background-color: var(--color-gainsboro);
}
.e8987ba837dc1318cacc65dc4d3c5b-icon,
.trang-6-child21 {
  position: absolute;
  top: 2291px;
  left: 1035px;
  width: 262px;
  height: 252px;
}
.trang-6-child21 {
  background-color: var(--color-white);
}
.e8987ba837dc1318cacc65dc4d3c5b-icon {
  object-fit: cover;
}
.vn3,
.vn4 {
  position: absolute;
}
.vn3 {
  top: 1868px;
  left: 207px;
}
.vn4 {
  left: 511px;
}
.vn4,
.vn5,
.vn6 {
  top: 1868px;
}
.vn5,
.vn6,
.vn7,
.vn8,
.vn9 {
  position: absolute;
}
.vn5 {
  left: 811px;
}
.vn6 {
  left: 1111px;
}
.vn7 {
  left: 1115px;
}
.vn7,
.vn8,
.vn9 {
  top: 2244px;
}
.vn8 {
  left: 815px;
}
.vn9 {
  left: 515px;
}
.vn10 {
  position: absolute;
  top: 2244px;
}
.vn10,
.vn11 {
  left: 215px;
}
.vn11,
.vn12,
.vn13,
.vn14 {
  position: absolute;
}
.vn11,
.vn12 {
  top: 2609px;
}
.vn12 {
  left: 515px;
}
.vn13 {
  top: 2606px;
  left: 821px;
}
.vn14 {
  top: 2609px;
  left: 1115px;
}
.ng-h-hublot-container {
  position: absolute;
  top: 1821px;
  left: 449px;
  white-space: pre-wrap;
}
.hublot-classic-fusion-container,
.ng-h-hublot-container1 {
  position: absolute;
  top: 1818px;
  left: 737px;
  white-space: pre-wrap;
}
.ng-h-hublot-container1 {
  left: 1040px;
}
.apple-watch-series-container,
.ng-h-hublot-container2 {
  position: absolute;
  top: 2194px;
  white-space: pre-wrap;
}
.ng-h-hublot-container2 {
  left: 1040px;
}
.apple-watch-series-container {
  left: 753px;
}
.apple-watch-series-container1,
.apple-watch-series-container2 {
  position: absolute;
  top: 2194px;
  left: 458px;
  white-space: pre-wrap;
}
.apple-watch-series-container2 {
  left: 154px;
}
.ng-h-in-container,
.ng-h-in-container1 {
  position: absolute;
  top: 2560px;
  left: 453px;
  white-space: pre-wrap;
}
.ng-h-in-container1 {
  top: 2562px;
  left: 154px;
}
.ng-h-casio-container,
.ng-h-in-container2 {
  position: absolute;
  top: 2560px;
  white-space: pre-wrap;
}
.ng-h-in-container2 {
  left: 1053px;
}
.ng-h-casio-container {
  left: 760px;
}
.trang-6-child22 {
  position: absolute;
  top: 2660px;
  left: 0;
  background-color: var(--color-gray);
  width: 1440px;
  height: 275px;
}
.home-page-icon {
  position: absolute;
  top: 19px;
  left: 0;
  width: 10px;
  height: 10px;
  object-fit: cover;
}
.nht-to-phng-container {
  position: absolute;
  top: 22px;
  left: 10px;
  font-weight: 600;
}
.globe-icon,
.gmail-logo-icon {
  position: absolute;
  top: 60px;
  left: 0;
  width: 10px;
  height: 10px;
  object-fit: cover;
}
.gmail-logo-icon {
  top: 48px;
}
.mr-dng {
  position: absolute;
  top: 38px;
  left: 10px;
  font-weight: 600;
}
.ca-hng-ng {
  font-size: var(--font-size-5xs);
  font-weight: 600;
}
.ca-hng-ng,
.email-dodungdodunggmailcom,
.group-child46 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child46 {
  top: 7.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightgreen);
  box-sizing: border-box;
  width: 83px;
  height: 1px;
}
.email-dodungdodunggmailcom-parent {
  position: absolute;
  top: 49px;
  left: 10px;
  width: 82px;
  height: 8px;
  color: var(--color-lightgreen);
}
.httpdonghomanhdungcomvn {
  position: absolute;
  top: 62px;
  left: 10px;
  font-weight: 300;
}
.home-page-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 138px;
  height: 70px;
}
.mnh-dng-luxury-container {
  position: absolute;
  top: 109px;
  left: 0;
  font-size: var(--font-size-6xs);
  font-weight: 500;
}
.group-container,
.vector-icon17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 141px;
}
.vector-icon17 {
  top: 36px;
  left: 3px;
  width: 5px;
  height: 10px;
}
.chnh-sch,
.group-parent {
  position: absolute;
  color: var(--color-white);
}
.group-parent {
  top: 2673px;
  left: 410px;
  width: 190px;
  height: 141px;
  font-size: var(--font-size-8xs);
}
.chnh-sch {
  top: 0;
  left: 0;
  font-size: var(--font-size-5xs);
  font-weight: 600;
}
.group-child47 {
  position: absolute;
  top: 11.5px;
  left: 0.5px;
  border-top: 1px solid var(--color-lightgreen);
  box-sizing: border-box;
  width: 47px;
  height: 1px;
}
.gii-thiu-parent,
.group-child48 {
  position: absolute;
  top: 15px;
  left: 0;
  width: 48px;
  height: 12px;
}
.group-child48 {
  top: 11.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightgreen);
  box-sizing: border-box;
  width: 153px;
  height: 1px;
}
.chnh-sch-bo-mt-thng-tin-parent,
.group-child49 {
  position: absolute;
  top: 32px;
  left: 0;
  width: 152px;
  height: 12px;
}
.group-child49 {
  top: 10.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightgreen);
  box-sizing: border-box;
  width: 139px;
  height: 1px;
}
.chnh-sch-i-v-bo-hnh-parent,
.group-child50 {
  position: absolute;
  top: 49px;
  left: 0;
  width: 139px;
  height: 11px;
}
.group-child50 {
  top: 10.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightgreen);
  box-sizing: border-box;
  width: 104px;
  height: 1px;
}
.mua-bn-ng-h-c-parent {
  position: absolute;
  top: 65px;
  left: 1px;
  width: 104px;
  height: 11px;
}
.chnh-sch-dich-v-parent {
  position: absolute;
  top: 2673px;
  left: 641px;
  width: 152px;
  height: 76px;
  font-size: var(--font-size-4xs);
  color: var(--color-lightgreen);
}
.ng-k-bct {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.logo-removebg-preview-1-icon {
  position: absolute;
  top: 19px;
  left: 9px;
  width: 192px;
  height: 58px;
  object-fit: cover;
}
.ca-hng-ng-container {
  position: absolute;
  top: 99px;
  left: 9px;
  font-weight: 600;
}
.ng-k-bct-parent {
  position: absolute;
  top: 2673px;
  left: 840px;
  width: 218px;
  height: 119px;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
}
.trang-6-child23 {
  position: absolute;
  top: 2843.5px;
  left: 409.5px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 649px;
  height: 1px;
}
.ng-h-removebg-preview-2-icon {
  position: absolute;
  top: 2874px;
  left: 405px;
  width: 38px;
  height: 43px;
  object-fit: cover;
}
.ca-hng-ng2 {
  position: absolute;
  top: 2892px;
  left: 810px;
  font-size: var(--font-size-7xs);
  color: var(--color-dimgray-400);
}
.trang-6-child24 {
  bottom: 14px;
  left: 21px;
  width: 81px;
  height: 342px;
}
.hiu-ng-4-item,
.trang-6-child24,
.trang-ch1 {
  position: absolute;
}
.trang-ch1 {
  top: 0;
  left: 0;
}
.hiu-ng-4-item {
  height: 7.14%;
  width: 100%;
  top: 96.43%;
  right: 0.82%;
  bottom: -3.57%;
  left: -0.82%;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
}
.hiu-ng-41 {
  position: absolute;
  top: 213px;
  left: 339px;
  width: 61px;
  height: 14px;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.vector-icon18 {
  position: absolute;
  height: 48%;
  width: 7.34%;
  top: 12.5%;
  right: 0;
  bottom: 39.5%;
  left: 92.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hiu-ng-5-item {
  position: absolute;
  height: 6.25%;
  width: 90.83%;
  top: 96.88%;
  right: 9.63%;
  bottom: -3.12%;
  left: -0.46%;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
}
.b3,
.hiu-ng-51 {
  position: absolute;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.hiu-ng-51 {
  top: 214px;
  left: 659px;
  width: 109px;
  height: 16px;
}
.b3 {
  top: 58px;
  left: 1315px;
}
.trang-6 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2935px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
