.trang-2-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkolivegreen);
  width: 1440px;
  height: 256px;
}
.trang-2-item {
  position: absolute;
  top: 170.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.ng-h-removebg-preview-1-icon5,
.search-icon5 {
  position: absolute;
  object-fit: cover;
}
.search-icon5 {
  top: 56px;
  left: 135px;
  width: 40px;
  height: 40px;
}
.ng-h-removebg-preview-1-icon5 {
  top: 24px;
  left: 640px;
  width: 160px;
  height: 126px;
}
.vector-icon45 {
  position: absolute;
  top: 56px;
  left: 1095px;
  width: 40px;
  height: 38.4px;
}
.div9,
.gi-ngay5 {
  position: absolute;
  left: 1148px;
  color: var(--color-white);
}
.div9 {
  top: 77px;
  font-size: var(--font-size-mid);
  font-weight: 800;
}
.gi-ngay5 {
  top: 56px;
}
.vector-icon46 {
  position: absolute;
  top: 55.68px;
  left: 1278px;
  width: 40px;
  height: 38.4px;
  cursor: pointer;
}
.trang-2-inner,
.vector-icon47 {
  position: absolute;
  top: 56px;
  left: 1310px;
  width: 16px;
  height: 16px;
}
.vector-icon47 {
  top: 70.08px;
  left: 1336px;
  width: 8px;
  height: 7.68px;
}
.gii-thiu8 {
  top: 214px;
  left: 450px;
}
.gii-thiu8,
.kin-thc-ng5,
.lin-h8,
.mua-ng-h7 {
  position: absolute;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.mua-ng-h7 {
  top: 214px;
  left: 548px;
}
.kin-thc-ng5,
.lin-h8 {
  top: 210px;
  left: 805px;
}
.lin-h8 {
  left: 965px;
}
.trang-2-child1 {
  left: 449.5px;
  width: 56px;
}
.trang-2-child1,
.trang-2-child2,
.trang-2-child3,
.trang-2-child4 {
  position: absolute;
  top: 227.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 1px;
}
.trang-2-child2 {
  left: 547.5px;
  width: 75px;
}
.trang-2-child3 {
  left: 804.5px;
  width: 107px;
}
.trang-2-child4 {
  left: 964.5px;
  width: 39px;
}
.vector-icon48 {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}
.mnh-dng-luxury6 {
  position: absolute;
  top: 13px;
  left: 69px;
  font-weight: 300;
}
.vector-icon49 {
  position: absolute;
  top: 16px;
  left: 212px;
  width: 5px;
  height: 10px;
}
.vector-icon50 {
  top: 16px;
}
.vector-icon50,
.vector-icon51 {
  position: absolute;
  width: 5px;
  height: 10px;
}
.vector-icon50 {
  left: 47px;
}
.vector-icon51 {
  top: 17px;
  left: 309px;
}
.group-child85,
.group-child86 {
  position: absolute;
  top: 29.5px;
  left: 342.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 465px;
  height: 1px;
}
.group-child86 {
  top: 28.5px;
  left: 233.5px;
  width: 59px;
}
.ng-h-rolex6 {
  top: 14px;
  font-weight: 300;
}
.ng-h-rolex6,
.ng-h-rolex7,
.ng-h6 {
  position: absolute;
}
.ng-h6 {
  top: 14px;
  left: 234px;
  font-weight: 300;
}
.ng-h-rolex6 {
  left: 343px;
}
.ng-h-rolex7 {
  top: 70px;
  left: 0;
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-darkolivegreen);
}
.vector-parent1 {
  position: absolute;
  top: 308px;
  left: 135px;
  width: 808px;
  height: 94px;
  font-size: var(--font-size-xs);
}
.trang-2-child5 {
  position: absolute;
  top: 424px;
  left: 135px;
  background-color: var(--color-gainsboro);
  width: 459px;
  height: 511px;
}
.rj50661143-rolex-nam-demi-2-2-icon3 {
  position: absolute;
  top: 424px;
  right: 846px;
  width: 459px;
  height: 511px;
  object-fit: cover;
}
.trang-2-child6,
.trang-2-child7 {
  top: 433px;
}
.trang-2-child6,
.trang-2-child7,
.trang-2-child8 {
  position: absolute;
  right: 70px;
  width: 746px;
}
.trang-2-child6 {
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 784px;
}
.trang-2-child7 {
  background-color: var(--color-darkolivegreen);
  height: 59px;
}
.trang-2-child8 {
  height: 59px;
  top: 492px;
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.trang-2-child10,
.trang-2-child11,
.trang-2-child12,
.trang-2-child9 {
  position: absolute;
  right: 70px;
  width: 746px;
  height: 59px;
}
.trang-2-child9 {
  top: 551px;
  background-color: var(--color-white);
}
.trang-2-child10 {
  top: 610px;
  background-color: var(--color-gainsboro);
}
.trang-2-child11 {
  top: 669px;
  background-color: var(--color-white);
}
.trang-2-child12 {
  top: 728px;
  background-color: var(--color-gainsboro);
}
.trang-2-child13 {
  position: absolute;
  top: 787px;
  right: 70px;
  width: 746px;
  height: 59px;
}
.trang-2-child13,
.trang-2-child14,
.trang-2-child15 {
  background-color: var(--color-white);
}
.trang-2-child14,
.trang-2-child15,
.trang-2-child16,
.trang-2-child17,
.trang-2-child18 {
  position: absolute;
  right: 70px;
  width: 746px;
  height: 59px;
}
.trang-2-child14 {
  top: 905px;
}
.trang-2-child15 {
  top: 1023px;
}
.trang-2-child16 {
  top: 846px;
}
.trang-2-child16,
.trang-2-child17,
.trang-2-child18 {
  background-color: var(--color-gainsboro);
}
.trang-2-child17 {
  top: 964px;
}
.trang-2-child18 {
  top: 1082px;
}
.component-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkolivegreen);
}
.trang-2-inner1 {
  position: absolute;
  top: 1158px;
  left: 624px;
  width: 746px;
  height: 59px;
  cursor: pointer;
}
.mua-hng4 {
  position: absolute;
  top: 1168px;
  right: 345px;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
}
.gi3,
.ph-kin3,
.thng-hiu3,
.thng-tin-chi3,
.tnh-trng5 {
  position: absolute;
  font-size: var(--font-size-mini);
  font-weight: 600;
}
.thng-tin-chi3 {
  top: 454px;
  right: 654px;
  color: var(--color-white);
}
.thng-hiu3 {
  top: 513px;
  right: 712px;
}
.gi3 {
  top: 1103px;
  right: 781px;
}
.tnh-trng5 {
  top: 572px;
  right: 730px;
}
.ph-kin3 {
  top: 631px;
  right: 743px;
}
.chc-nng3 {
  position: absolute;
  font-size: var(--font-size-mini);
  font-weight: 600;
}
.cht-liu-v3 {
  top: 690px;
  right: 719px;
}
.cht-liu-v3,
.dy-eo3,
.kch-thc3,
.kiu-ng-h3,
.loi-my3,
.mt-s3 {
  position: absolute;
  font-size: var(--font-size-mini);
  font-weight: 600;
}
.kch-thc3 {
  top: 749px;
  right: 725px;
}
.kiu-ng-h3 {
  top: 808px;
  right: 709px;
}
.loi-my3 {
  top: 867px;
  right: 741px;
}
.chc-nng3 {
  top: 926px;
  right: 725px;
}
.mt-s3 {
  top: 985px;
  right: 756px;
}
.dy-eo3 {
  top: 1044px;
  right: 746px;
}
.mi-1003,
.rolex3 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.rolex3 {
  top: 510px;
  right: 431px;
}
.mi-1003 {
  top: 569px;
  right: 392px;
}
.mm3,
.nam3 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.ng-h-c3 {
  top: 628px;
  right: 338px;
}
.ng-h-c3,
.vng-trng-nguyn6,
.vng-trng-nguyn7 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.vng-trng-nguyn6 {
  top: 687px;
  right: 221px;
}
.vng-trng-nguyn7 {
  top: 1041px;
  right: 220px;
}
.mm3 {
  top: 746px;
  right: 422px;
}
.nam3 {
  top: 805px;
  right: 439px;
}
.hin-th-thi3,
.mt-s-hng3 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.my-rolex-automatic3 {
  top: 864px;
  right: 278px;
}
.my-rolex-automatic3,
.vn17 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.hin-th-thi3 {
  top: 923px;
  right: 135px;
}
.mt-s-hng3 {
  top: 982px;
  right: 228px;
}
.vn17 {
  top: 1100px;
  right: 299px;
  font-weight: 600;
}
.group-child87 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkolivegreen);
  width: 459px;
  height: 58px;
}
.iphone-se-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 22.35px;
  height: 25px;
  object-fit: cover;
}
.lin-h9 {
  position: absolute;
  top: 4px;
  left: 22.35px;
  display: inline-block;
  width: 63.7px;
}
.iphone-se-parent1 {
  position: absolute;
  top: 18px;
  left: 179px;
  width: 86.05px;
  height: 25px;
}
.rectangle-parent19 {
  position: absolute;
  top: 964px;
  left: 135px;
  width: 459px;
  height: 58px;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.chi-nhnh-si3,
.group-child88 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child88 {
  top: 25.5px;
  left: 3.5px;
  border-top: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  width: 134px;
  height: 1px;
}
.a-ch7 {
  color: var(--color-black);
}
.span3 {
  color: var(--color-white);
}
.a-ch6 {
  font-family: var(--font-inter);
}
.a-ch-306-nht-to-phng-83 {
  margin: 0;
}
.a-ch-306-container3 {
  position: absolute;
  top: 44px;
  left: 0;
  font-size: var(--font-size-base);
}
.chi-nhnh-si-gn-parent1 {
  position: absolute;
  top: 1051px;
  left: 135px;
  width: 441px;
  height: 82px;
  font-size: var(--font-size-5xl);
}
.v-sao-chn3 {
  position: absolute;
  top: 0;
  left: 11px;
}
.ch-bn-ng3 {
  margin-bottom: 0;
}
.ch-bn-ng-h-chnh-hng-b3 {
  margin: 0;
  padding-left: var(--padding-xl);
}
.ch-bn-ng-container3 {
  position: absolute;
  top: 51px;
  left: 0;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.v-sao-chn-mnh-dng-luxury-parent1 {
  position: absolute;
  top: 1188px;
  left: 126px;
  width: 776px;
  height: 141px;
  font-size: var(--font-size-5xl);
}
.trang-2-child19 {
  top: 1362px;
  left: calc(50% - 206px);
  width: 401px;
  height: 80px;
}
.chn-ng-h1,
.trang-2-child19,
.xem-nhiu-sn1 {
  position: absolute;
}
.xem-nhiu-sn1 {
  top: 1457px;
  left: calc(50% - 248px);
  font-size: var(--font-size-17xl);
}
.chn-ng-h1 {
  top: 1501px;
  left: calc(50% - 180px);
  font-size: var(--font-size-5xl);
}
.trang-2-child20 {
  position: absolute;
  top: 1531.5px;
  left: calc(50% - 83.5px);
  border-top: 1px solid var(--color-darkolivegreen);
  box-sizing: border-box;
  width: 134px;
  height: 1px;
}
.group-child89 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 262px;
  height: 354px;
}
.dong-ho-rolex-nu-gia-re-nhat-1-icon3,
.group-child90 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 252px;
}
.group-child90 {
  background-color: var(--color-white);
}
.dong-ho-rolex-nu-gia-re-nhat-1-icon3 {
  object-fit: cover;
}
.rolex-sky-dweller-container1 {
  position: absolute;
  top: 274px;
  left: 7px;
  white-space: pre-wrap;
}
.rectangle-parent20 {
  left: 135px;
}
.rectangle-parent20,
.rectangle-parent21,
.rectangle-parent22 {
  position: absolute;
  top: 1547px;
  width: 262px;
  height: 354px;
}
.rectangle-parent21 {
  left: 435px;
}
.rectangle-parent22 {
  left: 735px;
}
.rectangle-parent23 {
  top: 1547px;
  left: 1035px;
}
.rectangle-parent23,
.rectangle-parent24,
.rectangle-parent25 {
  position: absolute;
  width: 262px;
  height: 354px;
}
.rectangle-parent24 {
  top: 1919px;
  left: 135px;
}
.rectangle-parent25 {
  top: 1919px;
  left: 435px;
}
.rectangle-parent26 {
  position: absolute;
  top: 1919px;
  left: 735px;
  width: 262px;
  height: 354px;
}
.rectangle-parent27 {
  top: 1919px;
}
.rectangle-parent27,
.rectangle-parent28 {
  position: absolute;
  width: 262px;
  height: 354px;
}
.rectangle-parent27 {
  left: 1035px;
}
.rectangle-parent28 {
  top: 2291px;
  left: 135px;
}
.rectangle-parent29 {
  left: 435px;
}
.rectangle-parent29,
.rectangle-parent30,
.trang-2-child21 {
  position: absolute;
  top: 2291px;
  width: 262px;
  height: 354px;
}
.rectangle-parent30 {
  left: 735px;
}
.trang-2-child21 {
  left: 1035px;
  background-color: var(--color-gainsboro);
}
.e8987ba837dc1318cacc65dc4d3c5b-icon1,
.trang-2-child22 {
  position: absolute;
  top: 2291px;
  left: 1035px;
  width: 262px;
  height: 252px;
}
.trang-2-child22 {
  background-color: var(--color-white);
}
.e8987ba837dc1318cacc65dc4d3c5b-icon1 {
  object-fit: cover;
}
.vn18 {
  left: 207px;
}
.vn18,
.vn19,
.vn20,
.vn21 {
  position: absolute;
  top: 1868px;
}
.vn19 {
  left: 511px;
}
.vn20 {
  left: 811px;
}
.vn21 {
  left: 1111px;
}
.vn22 {
  left: 1115px;
}
.vn22,
.vn23,
.vn24 {
  position: absolute;
  top: 2244px;
}
.vn23 {
  left: 815px;
}
.vn24 {
  left: 515px;
}
.vn25 {
  position: absolute;
  top: 2244px;
}
.vn25,
.vn26 {
  left: 215px;
}
.vn26,
.vn27,
.vn28,
.vn29 {
  position: absolute;
}
.vn26,
.vn27 {
  top: 2609px;
}
.vn27 {
  left: 515px;
}
.vn28 {
  top: 2606px;
  left: 821px;
}
.vn29 {
  top: 2609px;
  left: 1115px;
}
.ng-h-hublot-container3 {
  position: absolute;
  top: 1821px;
  left: 449px;
  white-space: pre-wrap;
}
.hublot-classic-fusion-container1,
.ng-h-hublot-container4 {
  position: absolute;
  top: 1818px;
  left: 737px;
  white-space: pre-wrap;
}
.ng-h-hublot-container4 {
  left: 1040px;
}
.apple-watch-series-container3,
.ng-h-hublot-container5 {
  position: absolute;
  top: 2194px;
  white-space: pre-wrap;
}
.ng-h-hublot-container5 {
  left: 1040px;
}
.apple-watch-series-container3 {
  left: 753px;
}
.apple-watch-series-container4,
.apple-watch-series-container5 {
  position: absolute;
  top: 2194px;
  left: 458px;
  white-space: pre-wrap;
}
.apple-watch-series-container5 {
  left: 154px;
}
.ng-h-in-container3,
.ng-h-in-container4 {
  position: absolute;
  top: 2560px;
  left: 453px;
  white-space: pre-wrap;
}
.ng-h-in-container4 {
  top: 2562px;
  left: 154px;
}
.ng-h-casio-container1,
.ng-h-in-container5 {
  position: absolute;
  top: 2560px;
  white-space: pre-wrap;
}
.ng-h-in-container5 {
  left: 1053px;
}
.ng-h-casio-container1 {
  left: 760px;
}
.trang-2-child23 {
  position: absolute;
  top: 2660px;
  left: 0;
  background-color: var(--color-gray);
  width: 1440px;
  height: 275px;
}
.home-page-icon3 {
  position: absolute;
  top: 19px;
  left: 0;
  width: 10px;
  height: 10px;
  object-fit: cover;
}
.nht-to-phng-container3 {
  position: absolute;
  top: 22px;
  left: 10px;
  font-weight: 600;
}
.globe-icon3,
.gmail-logo-icon3 {
  position: absolute;
  top: 60px;
  left: 0;
  width: 10px;
  height: 10px;
  object-fit: cover;
}
.gmail-logo-icon3 {
  top: 48px;
}
.ca-hng-ng9,
.mr-dng3 {
  position: absolute;
  font-weight: 600;
}
.mr-dng3 {
  top: 38px;
  left: 10px;
}
.ca-hng-ng9 {
  top: 0;
  left: 0;
  font-size: var(--font-size-5xs);
}
.group-child111 {
  position: absolute;
  top: 7.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightgreen);
  box-sizing: border-box;
  width: 83px;
  height: 1px;
}
.email-dodungdodunggmailcom-parent1 {
  position: absolute;
  top: 49px;
  left: 10px;
  width: 82px;
  height: 8px;
  color: var(--color-lightgreen);
}
.httpdonghomanhdungcomvn3 {
  position: absolute;
  top: 62px;
  left: 10px;
  font-weight: 300;
}
.home-page-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 138px;
  height: 70px;
}
.mnh-dng-luxury-container3 {
  position: absolute;
  top: 109px;
  left: 0;
  font-size: var(--font-size-6xs);
  font-weight: 500;
}
.group-parent6,
.vector-icon52 {
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 141px;
}
.vector-icon52 {
  top: 36px;
  left: 3px;
  width: 5px;
  height: 10px;
}
.chnh-sch3,
.group-parent5 {
  position: absolute;
  color: var(--color-white);
}
.group-parent5 {
  top: 2673px;
  left: 410px;
  width: 190px;
  height: 141px;
  font-size: var(--font-size-8xs);
}
.chnh-sch3 {
  top: 0;
  left: 0;
  font-size: var(--font-size-5xs);
  font-weight: 600;
}
.group-child112 {
  position: absolute;
  top: 11.5px;
  left: 0.5px;
  border-top: 1px solid var(--color-lightgreen);
  box-sizing: border-box;
  width: 47px;
  height: 1px;
}
.gii-thiu-parent1,
.group-child113 {
  position: absolute;
  top: 15px;
  left: 0;
  width: 48px;
  height: 12px;
}
.group-child113 {
  top: 11.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightgreen);
  box-sizing: border-box;
  width: 153px;
  height: 1px;
}
.chnh-sch-bo-mt-thng-tin-parent1,
.group-child114 {
  position: absolute;
  top: 32px;
  left: 0;
  width: 152px;
  height: 12px;
}
.group-child114 {
  top: 10.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightgreen);
  box-sizing: border-box;
  width: 139px;
  height: 1px;
}
.chnh-sch-i-v-bo-hnh-parent1,
.group-child115 {
  position: absolute;
  top: 49px;
  left: 0;
  width: 139px;
  height: 11px;
}
.group-child115 {
  top: 10.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-lightgreen);
  box-sizing: border-box;
  width: 104px;
  height: 1px;
}
.mua-bn-ng-h-c-parent1 {
  position: absolute;
  top: 65px;
  left: 1px;
  width: 104px;
  height: 11px;
}
.chnh-sch-dich-v-parent1 {
  position: absolute;
  top: 2673px;
  left: 641px;
  width: 152px;
  height: 76px;
  font-size: var(--font-size-4xs);
  color: var(--color-lightgreen);
}
.ng-k-bct3 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.logo-removebg-preview-1-icon3 {
  position: absolute;
  top: 19px;
  left: 9px;
  width: 192px;
  height: 58px;
  object-fit: cover;
}
.ca-hng-ng-container3 {
  position: absolute;
  top: 99px;
  left: 9px;
  font-weight: 600;
}
.ng-k-bct-parent1 {
  position: absolute;
  top: 2673px;
  left: 840px;
  width: 218px;
  height: 119px;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
}
.trang-2-child24 {
  position: absolute;
  top: 2843.5px;
  left: 409.5px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 649px;
  height: 1px;
}
.ng-h-removebg-preview-2-icon3 {
  position: absolute;
  top: 2874px;
  left: 405px;
  width: 38px;
  height: 43px;
  object-fit: cover;
}
.ca-hng-ng11 {
  position: absolute;
  top: 2892px;
  left: 810px;
  font-size: var(--font-size-7xs);
  color: var(--color-dimgray-400);
}
.trang-2-child25 {
  bottom: 14px;
  left: 21px;
  width: 81px;
  height: 342px;
}
.hiu-ng-4-child1,
.trang-2-child25,
.trang-ch5 {
  position: absolute;
}
.trang-ch5 {
  top: 0;
  left: 0;
}
.hiu-ng-4-child1 {
  height: 7.14%;
  width: 100%;
  top: 96.43%;
  right: 0.82%;
  bottom: -3.57%;
  left: -0.82%;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
}
.hiu-ng-43 {
  position: absolute;
  top: 213px;
  left: 339px;
  width: 61px;
  height: 14px;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.vector-icon53 {
  position: absolute;
  height: 48%;
  width: 7.34%;
  top: 12.5%;
  right: 0;
  bottom: 39.5%;
  left: 92.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hiu-ng-5-child1 {
  position: absolute;
  height: 6.25%;
  width: 90.83%;
  top: 96.88%;
  right: 9.63%;
  bottom: -3.12%;
  left: -0.46%;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
}
.b9,
.hiu-ng-53 {
  position: absolute;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.hiu-ng-53 {
  top: 214px;
  left: 659px;
  width: 109px;
  height: 16px;
}
.b9 {
  top: 58px;
  left: 1315px;
}
.trang-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2935px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
